body {
  background-image: url('bckg.jpg');
  background-size: cover; 
  background-position: center; 
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.5); 
}
.custom-text-color {
  color: rgb(36, 11, 182); 
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.custom-text-color {
  animation: blink 1s infinite; 
}          

.table-heading {
  font-weight: bold;
  background-color: #f8f9fa; 
}

/* Styling even rows */
.table-striped tbody tr:nth-of-type(even) {
  background-color: #f3f3f3; 
}

/* Styling odd rows */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff; 
}

/* Hover effect */
.table-striped tbody tr:hover {
  background-color: #e9ecef; 
}

/* Border color */
.table-bordered, .table-bordered th, .table-bordered td {
  border-color: #dee2e6;
}

/* Padding for cells */
.table-bordered th, .table-bordered td {
  padding: 8px; 
}
